* {
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

header {
    height: 100vh;
    display: flex;
}

header .logo {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

header .logo h1 {
    font-size: 48pt;
}

header .logo img {
    height: 256px;
    width: 256px;
}

header .introducao {
    max-width: 600px;
    margin: 30px 50px;
}

header .introducao h2 {
    font-size: 22pt;
}

header .introducao p {
    text-align: justify;
    font-size: 16pt;
}

.local {
    display: flex;
    flex-direction: column;
}

.local div {
    margin-bottom: 20px;
}

.local label, 
.local input {
    font-size: 22px;
}

form .field-group {
    display: flex;
}

.field-group .field {
    display: flex;
    flex: 1;
    flex-direction: column;

    margin: 50px 0;
}

form .field-group .field:first-child {
    margin-right: 5em;
}

.field label {
    font-size: 18pt;
    font-weight: 700;
}

.field input, 
.field select {
    background-color: #f0f0f5;

    width: 350px;
    border: 0;
    padding: 16px 24px;
    font-size: 20px;

    border-radius: 10px;

   /* outline: none; */
}

form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

form label {
    font-size: 16px;
    margin-bottom: 10px;
}

fieldset legend {
    text-align: center;
    font-size: 32pt;
    font-weight: 700;   
    margin-bottom: 20px;
}

fieldset h2 {
    align-self: flex-start;
    margin-left: 150px;
    font-size: 18pt;
    font-weight: 400;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form fieldset {
    border: none;
    height: 100vh;
}

form fieldset.problems {
    height: auto;
}

.problems-grid ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 40px;
    max-width: 80%;
    margin: 50px auto;
}

.problems-grid ul li {
    background-color: #f0f0f5;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 15px;
    padding: 15px 5px;
}

.problems-grid li:hover {
    cursor: pointer;
}


.problems-grid li.selected {
    background: #e1faec;
    border: 2px solid #34cb79;
}

.problems-grid li h3, img {
    text-align: center;
    pointer-events: none;
}

.problems-grid li img {
    width: 64px;
    height: 64px;
}

.details {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    max-width: 60%;
    margin: 50px 20px;
}

.details div {
    background-color: #f0f0f5;
    border-radius: 10px;
}

.details h3 {
    text-align: center;
    height: 50px;
}

.details img {
    width: 50px;
    height: 50px;
    text-align: center;
    margin-left: 43%;
}

.details textarea {
    resize: none;
    margin: 10px 20px;
    font-size: 16pt;
    width: 300px;
    height: 170px;
}

button {
    width: 240px;
    height: 50px;

    font-size: 20px;
    background-color: rgb(131, 187, 18);
    color: white;
    font-weight: 700;

    border-radius: 10px;
    border: 0;
    transition: 300ms;
}

button#first {
    transition: 300ms;
    margin-left: 160px;
    align-self: flex-start;
}

button#second {
    margin: 20px 30px;
}

button:hover {
    background-color: rgb(162, 221, 45);
}

/* Modal de register-succeed.html */
#modal {
    background-color: rgba(14, 10, 20, 0.836);
    height: 100vh;
    width: 100vw;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 400ms;
}

#modal.hide {
    display: none;
}

#modal .content {
    color: white;

    width: 420px;
}

#modal.point {
    width: 100%;
    height: 100%;
}

#modal.point .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

#modal.point .content h1 {
    color: white;
    margin-top: 30px;
}

footer {
    height: auto;
    margin-top: 150vh;
}

footer ul {
    display: flex;
    justify-content: center;
}

footer ul li {
    margin: 10px 15px;
}

footer ul li:hover {
    cursor: pointer;
}